@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.HomeSSSMain{
    // border: 2px solid red;
    background-color: $PrimaryColor;
    height: 45.5rem;
    padding-top: 3rem;
    color: $SecondaryFontColor;
    .HomeSSS{
        display: flex;
        // text-align: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        .HomeSSS-HeadContainer{
            display: flex;
            justify-content: center;
            
        
        .HomeSSS-Head{
            text-align: center;
            font-size: 3rem;
            font-family: $HeadFont;
            font-weight: 700;
            width: 28rem;
            span{
                color: $SecondaryColor;
            }
        }
    }
        .HomeSSS-Steps{
            display: flex;
            flex-direction: column;
            gap: 10rem;
            position: relative;
            .HomeSSSSteps-1{
                width: 18rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .HomeSSSSteps-Heading{
                    display: flex;
                    justify-content: center;
                    gap: 1rem;
                    // font-family: $;
                    .HomeSSSStepsHead-Number{
                        font-family: $HeadFont;
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    .HomeSSSStepsHead-Step{
                        font-family: $SecondaryFont;
                        font-size: 1.25rem;
                        width: 8rem;
                        font-weight: 800;
                        // text-align: center;
                        display: flex;
                        align-items: center;
                    }
                }
                .HomeSSSStepsHead-Content{
                    width: 17rem;
                    text-align: center;
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                    font-size: 1rem;
                }
            }
            .HomeSSSSteps-Up{
                display: flex;
                justify-content: space-between;
                
            }
            .HomeSSSSteps-Down{
                display: flex;
                justify-content: center;
            }
            .HomeSSSSteps-LeftLine{
                position: absolute;
                bottom: 4.5rem;
                left: 8.75rem;
            }
            .HomeSSSSteps-RightLine{
                position: absolute;
                bottom: 4.5rem;
                right: 8.75rem;

            }
            .HomeSSSSteps-UpLine{
                position: absolute;
                top: 4.5rem;
                left: 18rem;
            }
            .HomeSSSSteps-CenterLine{
                position: absolute;
                top: 4.5rem;
                left: 50%;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .HomeSSSMain{
        padding: 5rem 0rem;
        height: 45rem;
        .HomeSSS{
            display: flex;
            // gap: 3rem;
            .HomeSSS-HeadContainer{
            
            .HomeSSS-Head{
                font-size: 2rem;
                width: 20rem;
            }
        }
            .HomeSSS-Steps{
                gap: 3rem;
                position: relative;
                .HomeSSSSteps-1{
                    width: 15rem;
                    .HomeSSSSteps-Heading{
                        .HomeSSSStepsHead-Number{
                            font-size: 2rem;
                        }
                        .HomeSSSStepsHead-Step{
                            font-size: 0.9rem;
                            width: 6rem;
                        }
                    }
                    .HomeSSSStepsHead-Content{
                        width: 100%;
                        text-align: center;
                        font-family: $ContentFont;
                        color: $ContentFontColor;
                        font-size: 0.75rem;
                    }
                }
                .HomeSSSSteps-3{
                    position: absolute;
                    top: 20rem;
                    left: 3rem;
                }
                .HomeSSSSteps-Up{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                }
                .HomeSSSSteps-LeftLine{
                    visibility: hidden;
                    // bottom: 4.5rem;
                    // left: 8.75rem;
                }
                .HomeSSSSteps-RightLine{
                    visibility: hidden;
                    // bottom: 4.5rem;
                    // right: 8.75rem;
    
                }
                .HomeSSSSteps-UpLine{
                    visibility: hidden;
                    // top: 4.5rem;
                    // left: 18rem;
                }
                .HomeSSSSteps-CenterLine{
                    visibility: hidden;
                    // top: 4.5rem;
                    // left: 50%;
                }
            }
        }
    }
}