.HomeASMain {
  padding: 10rem 0rem;
}
.HomeASMain .HomeAS {
  display: flex;
  gap: 3rem;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer {
  position: relative;
  margin-left: 4.5rem;
  width: 30rem;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox {
  width: 25rem;
  height: 32rem;
  overflow: hidden;
  border-radius: 1.25rem;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox .HomeAS-Img {
  min-width: 100%;
  height: 100%;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgShadow {
  position: absolute;
  top: -1.8rem;
  left: -2.8rem;
  width: 25rem;
  height: 32rem;
  border-radius: 1.25rem;
  background-color: rgba(30, 30, 30, 0.05);
  transform: rotate(-10deg);
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float {
  width: 10rem;
  position: absolute;
  z-index: 2;
  right: 0rem;
  bottom: 5rem;
  border-radius: 1.25rem;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow {
  width: 10rem;
  height: 11rem;
  background-color: #f4f4f4;
  border-radius: 1.25rem;
  box-shadow: 0px 5px 30px 2px rgba(136, 137, 137, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow .HomeASImgFloatWindow-Icon {
  margin-bottom: 0.5rem;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow .HomeASImgFloatWindow-Content {
  width: 8rem;
  font-family: Rasa;
  color: #888888;
  font-size: 0.8rem;
}
.HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow .HomeASImgFloatWindow-Line {
  opacity: 20%;
}
.HomeASMain .HomeAS .HomeAboutSec-Content {
  width: 43.75rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-end;
}
.HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Title {
  font-family: Martel Sans;
  color: #25C1EC;
  font-weight: 700;
}
.HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Head {
  font-family: Montserrat;
  color: #364154;
  font-weight: 700;
  font-size: 2.75rem;
}
.HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Head span {
  color: #25C1EC;
}
.HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Body {
  color: #888888;
  font-family: Rasa;
  font-size: 1rem;
}
.HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Button {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 16rem;
  height: 3.5rem;
  border-radius: 0.8rem;
}

@media screen and (max-width: 490px) {
  .HomeASMain {
    padding: 5rem 0rem;
  }
  .HomeASMain .HomeAS {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer {
    margin-left: 0rem;
    width: 18rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox {
    width: 18rem;
    height: 23rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox .HomeAS-Img {
    height: 100%;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgShadow {
    width: 100%;
    height: 21.6em;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float {
    border-radius: 0.8rem;
    width: 8rem;
    height: 9rem;
    right: -1.5rem;
    bottom: 2rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow {
    width: 8rem;
    height: 9rem;
    padding: 1rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow .HomeASImgFloatWindow-Content {
    width: auto;
    font-size: 0.7rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Head {
    font-size: 1.25rem;
    margin: 0rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Body {
    margin: 0rem;
    font-size: 0.7rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Button {
    width: 10rem;
    font-size: 0.6rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 490px) and (max-width: 990px) {
  .HomeASMain {
    padding: 5rem 0rem;
  }
  .HomeASMain .HomeAS {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer {
    margin-left: 0rem;
    width: 20rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox {
    width: 100%;
    height: 26rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox .HomeAS-Img {
    height: 100%;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgShadow {
    width: 100%;
    height: 26rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float {
    width: 9rem;
    height: 10rem;
    border-radius: 0.8rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow {
    width: 9rem;
    height: 10rem;
    position: relative;
    right: -2.5rem !important;
    bottom: 0rem;
    padding: 1rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-Float .HomeASImg-FloatWindow .HomeASImgFloatWindow-Content {
    width: auto;
    font-size: 0.7rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Head {
    font-size: 1.8rem;
    margin: 0rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Body {
    margin: 0rem;
    font-size: 0.8rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Button {
    width: 12rem;
    font-size: 0.8rem;
    height: 3rem;
  }
}
@media screen and (min-width: 990px) and (max-width: 1220px) {
  .HomeASMain {
    padding: 5rem 0rem;
  }
  .HomeASMain .HomeAS {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer {
    margin-left: 0rem;
    width: 20rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox {
    width: 100%;
    height: 25rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgBox .HomeAS-Img {
    height: 100%;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeAS-ImgShadow {
    width: 100%;
    height: 25rem;
    transform: rotate(-10deg);
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-FloatWindow {
    width: 10rem;
    height: 11rem;
    border-radius: 0.8rem;
    right: -1.5rem;
    bottom: 2rem;
    padding: 1rem;
  }
  .HomeASMain .HomeAS .HomeAS-ImageContainer .HomeASImg-FloatWindow .HomeASImgFloatWindow-Content {
    width: auto;
    font-size: 0.8rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content {
    width: 50%;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Head {
    font-size: 1.8rem;
    margin: 0rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Body {
    margin: 0rem;
    font-size: 1rem;
  }
  .HomeASMain .HomeAS .HomeAboutSec-Content .HomeAboutSecContent-Button {
    width: 12rem;
    font-size: 0.8rem;
    height: 2.5rem;
  }
}/*# sourceMappingURL=HomeAboutSec.css.map */