@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.FeaturedSSMain{
    padding: 5rem 0rem;
    .FeaturedSS{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .FeaturedSS-Head{
            text-align: center;
            width: 40rem;
            
            .FeaturedSSHead-Title{
                font-family: $SecondaryFont;
                color: $SecondaryColor;
                font-weight: 700;
            }
            .FeaturedSSHead-Heading{
                font-family: $HeadFont;
                color: $HeadFontColor;
                font-weight: 700;
                font-size: 2.5rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .FeaturedSSHead-Body{
                font-family: $ContentFont;
                color: $ContentFontColor;
                font-size: 1rem;
            }
        }
        .FeaturedSS-Button{
            background-color: $PrimaryColor;
            font-family: $SecondaryFont;
            font-weight: 600;
            color: $SecondaryFontColor;
            border: none;
            border-radius: $SecondaryBorderRadius;
            width: 16rem;
            height: 3rem;
        }
    }
}

@media screen and (max-width: 900px){
    .FeaturedSSMain{
        // padding: 5rem 0rem;
        .FeaturedSS{
            .FeaturedSS-Head{
                width: 100%;
                
                .FeaturedSSHead-Title{
                    font-family: $SecondaryFont;
                    color: $SecondaryColor;
                    font-weight: 700;
                }
                .FeaturedSSHead-Heading{
                    font-size: 2rem;
                }
                .FeaturedSSHead-Body{
                    font-size: 0.8rem;
                }
            }
            .FeaturedSS-Button{
                width: 10rem;
                height: 2.5rem;
            }
        }
    }
}