.ContactLSMain {
  height: 46.2rem;
  padding-top: 18vh;
  background-color: #1e1e1e;
  color: #ffffff;
}
.ContactLSMain .ContactLS {
  display: flex;
  justify-content: space-between;
}
.ContactLSMain .ContactLS .ContactLS-Head {
  margin-top: 5rem;
  width: 45rem;
}
.ContactLSMain .ContactLS .ContactLS-Head .ContactLSHead-Heading {
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: 700;
}
.ContactLSMain .ContactLS .ContactLS-Head .ContactLSHead-Heading span {
  color: #25C1EC;
}
.ContactLSMain .ContactLS .ContactLS-Head .ContactLSHead-Body {
  font-family: Rasa;
  color: #888888;
  font-size: 1.25rem;
  width: 35rem;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox {
  position: relative;
  color: #364154;
  width: 27rem;
  height: 32rem;
  background-color: #f4f4f4;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container {
  padding: 1rem 3rem;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Label {
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0px solid;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  padding-top: 9px;
  overflow-y: auto !important;
  min-height: 10px !important;
  max-height: 10px !important;
  border: 0px solid !important;
  outline: none !important;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar {
  width: 3px;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2666666667);
  border-radius: 10px;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Input {
  resize: none;
  outline: none;
  border-radius: 0.25rem;
  margin-bottom: 0rem;
  max-height: 5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  font-family: Martel Sans;
  font-size: 0.7rem;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Input .ContactLSFormInput-Category {
  font-weight: 800;
  color: #364154;
  margin: 0.5rem 0rem;
  font-family: Montserrat;
  opacity: 50%;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Input .ContactLSFormInput-Product {
  color: #1e1e1e;
  margin: 1rem 0rem;
  font-family: Martel Sans;
}
.ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactForm-Container .ContactLS-Form .ContactLSForm-Button {
  height: 2.5rem;
  border: none;
  background-color: #25C1EC;
  color: #ffffff;
  font-family: Martel Sans;
  font-weight: 800;
  border-radius: 0.25rem;
}

@media screen and (max-width: 900px) {
  .ContactLSMain {
    height: auto;
    padding: 8rem 0rem 4rem 0rem;
  }
  .ContactLSMain .ContactLS {
    display: flex;
    flex-direction: column;
  }
  .ContactLSMain .ContactLS .ContactLS-Head {
    margin-top: 0rem;
    width: 100%;
    text-align: center;
  }
  .ContactLSMain .ContactLS .ContactLS-Head .ContactLSHead-Heading {
    font-size: 2.5rem;
  }
  .ContactLSMain .ContactLS .ContactLS-Head .ContactLSHead-Body {
    font-size: 0.8rem;
    width: 100%;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox {
    width: 25rem;
    min-height: 30rem;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactLS-FormContainer {
    padding: 1rem 1.5rem;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactLS-FormContainer .ContactLS-Form {
    gap: 0.5rem;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactLS-FormContainer .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Label {
    font-size: 0.6rem;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactLS-FormContainer .ContactLS-Form .ContactLSForm-Content .ContactLSForm-Input {
    padding: 0.5rem;
    width: 100%;
    font-size: 0.6rem;
  }
  .ContactLSMain .ContactLS .ContactLS-FormContainer .ContactLS-FormBox .ContactLS-FormContainer .ContactLS-Form .ContactLSForm-Button {
    height: 2rem;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=ContactLandingSec.css.map */