@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";


.ContactLSMain{
    height: 46.2rem;
    padding-top: 18vh;
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    .ContactLS{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .ContactLS-Head{
            margin-top: 5rem;
            width: 45rem;
            .ContactLSHead-Heading{
                font-family: $HeadFont;
                font-size: 5rem;
                font-weight: 700;
                span{
                    color: $SecondaryColor;
                }
            }
            .ContactLSHead-Body{
                font-family: $ContentFont;
                color: $ContentFontColor;
                font-size: 1.25rem;
                width: 35rem;
            }
        }
        .ContactLS-FormContainer{
            .ContactLS-FormBox{
                position: relative;
                color: $HeadFontColor;
                width: 27rem;
                height: 32rem;
                background-color: $ThirdColor;
                border-radius: $PrimaryBorderRadius;
                display: flex;
                justify-content: center;
                align-items: center;
                .ContactForm-Container{
                    
                    padding: 1rem 3rem;
                    
                    .ContactLS-Form{
                        // padding: 2rem 3rem;
                        display: flex;
                        flex-direction: column;
                        gap: 0.8rem;
                        height: 100%;
                        .ContactLSForm-Content{
                            .ContactLSForm-Label{
                                font-family: $HeadFont;
                                font-weight: 700;
                                margin-bottom: 0.3rem;
                                font-size: 0.8rem;
                            }

                            .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
                                border:0px solid
                            }

                           
                            .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
                                padding-top: 9px;
                                overflow-y: auto !important;
                                min-height: 10px !important;
                                max-height: 10px !important;
                                border: 0px solid !important;
                                outline: none !important;    
                            }
                            .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar{
                                width: 3px;
                               
                            }

                            .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar-track{
                                background: #f1f1f1;
                                
                            }

                            .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select::-webkit-scrollbar-thumb{
                                background: #0004;
                                border-radius: 10px;
                            }
                            

                            .ContactLSForm-Input{
                                resize: none;
                                outline:none;
                                border-radius: 0.25rem;
                                margin-bottom: 0rem;
                                max-height: 5rem;
                                padding: 0.5rem;
                                width: 100%;
                                border: none;
                                font-family: $SecondaryFont;
                                font-size: 0.7rem;
                                .ContactLSFormInput-Category{
                                    font-weight: 800;
                                    color: $HeadFontColor;
                                    margin: 0.5rem 0rem;
                                    font-family: $HeadFont;
                                    opacity: 50%;
                                }
                                .ContactLSFormInput-Product{
                                    color: $PrimaryColor;
                                    margin: 1rem 0rem;
                                    font-family: $SecondaryFont;

                                }
                            }
                        }
                        .ContactLSForm-Button{
                            height: 2.5rem;
                            border: none;
                            background-color: $SecondaryColor;
                            color: $SecondaryFontColor;
                            font-family: $SecondaryFont;
                            font-weight: 800;
                            border-radius: 0.25rem  ;
                        }
                    }
                }
                
            }

        }
    }
}


@media screen and (max-width: 900px){
    .ContactLSMain{
        height: auto;
        padding: 8rem 0rem 4rem 0rem;
        .ContactLS{
            display: flex;
            flex-direction: column;
            .ContactLS-Head{
                margin-top: 0rem;
                width: 100%;
                text-align: center;
                .ContactLSHead-Heading{
                    font-size: 2.5rem;
                }
                .ContactLSHead-Body{
                    font-size: 0.8rem;
                    width: 100%;
                }
            }
            .ContactLS-FormContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                .ContactLS-FormBox{
                    width: 25rem;
                    min-height: 30rem;
                    
                    .ContactLS-FormContainer{
                    padding: 1rem 1.5rem;
                    .ContactLS-Form{
                        gap: 0.5rem;
                        .ContactLSForm-Content{
                            .ContactLSForm-Label{
                                font-size: 0.6rem;
                            }
                            .ContactLSForm-Input{
                                padding: 0.5rem;
                                width: 100%;
                                font-size: 0.6rem;
                            }
                        }
                        .ContactLSForm-Button{
                            height: 2rem;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
    
            }
        }
    }
}