@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.ContactLSMain{
    height: 51.5rem;
    padding-top: 20vh;
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    .ContactLS{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ContactLS-Head{
            width: 45rem;
            .ContactLSHead-Heading{
                font-family: $HeadFont;
                font-size: 5rem;
                font-weight: 700;
                span{
                    color: $SecondaryColor;
                }
            }
            .ContactLSHead-Body{
                font-family: $ContentFont;
                color: $ContentFontColor;
                font-size: 1.25rem;
                width: 35rem;
            }
        }
        .ContactLS-FormContainer{
            .ContactLS-FormBox{
                color: $HeadFontColor;
                width: 27rem;
                min-height: 30rem;
                background-color: $ThirdColor;
                border-radius: $PrimaryBorderRadius;
                padding: 2rem 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .ContactLS-Form{
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    .ContactLSForm-Content{
                        .ContactLSForm-Label{
                            font-family: $HeadFont;
                            font-weight: 700;
                            margin-bottom: 0.3rem;
                            font-size: 0.8rem;
                        }
                        .ContactLSForm-Input{
                            border-radius: 0.25rem;
                            margin-bottom: 0rem;
                            padding: 0.5rem;
                            width: 100%;
                            border: none;
                            font-family: $SecondaryFont;
                            font-size: 0.8rem;
                        }
                    }
                    .ContactLSForm-Button{
                        height: 2.5rem;
                        border: none;
                        background-color: $SecondaryColor;
                        color: $SecondaryFontColor;
                        font-family: $SecondaryFont;
                        font-weight: 800;
                        border-radius: 0.25rem  ;
                    }
                }
            }

        }
    }
}