@import  "../GlobalStyles/GlobalStyles.scss";

.Whitecustom-button{
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    width: 16rem;
    height: 3.5rem;
    border-radius: $SecondaryBorderRadius;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);


    &:hover {
            animation: sh0 0.5s ease-in-out both;
        }
    
        
    
        &::before,
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background:$PrimaryColor;
            opacity: 0;
            transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
            z-index: -1;
            transform: translate(100%, -25%) translate3d(0, 0, 0);
        }
    
        &:hover::before,
        &:hover::after {
            opacity: 0.15;
            transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
        }
    
        &:hover::before {
            transform: translate3d(50%, 0, 0) scale(0.9);
        }
    
        &:hover::after {
            transform: translate(50%, 0) scale(1.1);
        }
    }
    
    @keyframes sh0 {
        0% {
            transform: rotate(0deg) translate3d(0, 0, 0);
        }
    
        25% {
            transform: rotate(7deg) translate3d(0, 0, 0);
        }
    
        50% {
            transform: rotate(-7deg) translate3d(0, 0, 0);
        }
    
        75% {
            transform: rotate(1deg) translate3d(0, 0, 0);
        }
    
        100% {
            transform: rotate(0deg) translate3d(0, 0, 0);
        }
}

.custom-button {
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    width: 16rem;
    height: 3.5rem;
    border-radius: $SecondaryBorderRadius;
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);

    &:hover {
        animation: sh0 0.5s ease-in-out both;
    }

    span {
        &:hover {
            animation: sh0 0.7s ease-in-out both;
            animation-delay: 0.06s;
        }
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff;
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
        z-index: -1;
        transform: translate(100%, -25%) translate3d(0, 0, 0);
    }

    &:hover::before,
    &:hover::after {
        opacity: 0.15;
        transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
    }

    &:hover::before {
        transform: translate3d(50%, 0, 0) scale(0.9);
    }

    &:hover::after {
        transform: translate(50%, 0) scale(1.1);
    }
}

@keyframes sh0 {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(7deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-7deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
@media screen and (max-width: 900px){
        .custom-.custom-button{
            width: 10rem;
            height: 2.5rem;
            font-size: 0.6rem;
        }
}