@import  "../GlobalStyles/GlobalStyles.scss";

.custom-button{
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    width: 16rem;
    height: 3.5rem;
    border-radius: $SecondaryBorderRadius;
}

@media screen and (max-width: 900px){
        .custom-button{
            width: 10rem;
            height: 2.5rem;
            font-size: 0.6rem;
        }
}