@import "../../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.FeaturedSS-BodyMain{
    width: 100%;
    .FeaturedSS-Body{
        .FeaturedSSBody-Nav{
            display: flex;
            gap: 2rem;
            font-family: $SecondaryFont;
            .FeaturedSSBodyNav-ActiveButton{
                font-weight: 700;
                color: $PrimaryColor;
                background-color: transparent;
                border: none;
            }
            .FeaturedSSBodyNav-Button{
                border: none;
                background-color: transparent;
                color: $ContentFontColor;
                font-weight: 500;
            }
            .FeaturedSSBodyNav-Button:hover {
                text-decoration: underline;
            }
            
        }
        .FeaturedSSBody-Content{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            .FeaturedService-1{
                // .FeaturedService1-Image{
                //     width: 25rem;
                //     height: 35rem;
                //     overflow: hidden;
                //     border-radius: $PrimaryBorderRadius;
                //     position: relative;
                //     .FeaturedService1-ImgShadow{
                //         width: 25rem;
                //         position: absolute;
                //         height: 40rem;
                //         // background-color: $HelpingShadowPrimaryColor;
                //         background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 4.34%, #000 91.56%);
                        
                //     }
                    
                //     .FeaturedService1-Img{
                //         height: 100%;
                //         width: auto;
                //         // position: relative;
                //         // left: -5rem;
                //         z-index: -1;
                //     }
                   
                //     .FeaturedService1Img-Footer{
                //         width: 21rem;
                //             position: absolute;
                //             bottom: 0rem;
                //             left: 2rem;
                //             color: $SecondaryFontColor;
                //             display: flex;
                //             justify-content: space-between;
                //             .FeaturedService1Img-FooterContent{
                //                 .FeaturedService1Img-ContentHead{
                //                     font-family: $SecondaryFont;
                //                     font-size: 1.25rem;
                //                     font-weight: 700;
                //                 }
                //                 .FeaturedService1Img-ContentBody{
                //                     font-family: $ContentFont;
                //                     font-size: 1rem;
                //                     font-weight: 500;
                //                     color: $ContentFontColor;
                //                 }
                //             }
                //             // .FeaturedService1-ImgIcon{

                //             // }
                //     }
                // }
                .FS1BodyContent-Box{
                    width: 26rem;
                    min-height: 35rem;
                    display: flex;
                    border-radius: $PrimaryBorderRadius;
                    padding-bottom: 1rem;
                    background-color: $SecondaryFontColor;
                    flex-direction: column;
                    gap: 1rem;
                    // justify-content: space-between;
                    
                    .FS1BodyContentBox-ImgContainer{
                        
                        .FS1BodyContentBox-Img{
                            border-radius: $UpperRadius;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    .FS1BodyContentBox-Content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 0rem 2rem;
                        gap: 1rem;
                        .FS1BodyContentBox-HeadContent{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .FS1BodyContentBox-ProductName{
                                font-size: 0.8rem;
                                margin: 0rem;
                                font-family: $HeadFont;
                                font-weight: 700;
                                color: $HeadFontColor;
                            }
                            .FS1BodyContentBox-ProductPrice{
                                font-family: $HeadFont;
                                color: $ContentFontColor;
                                font-weight: 700;
                                font-size: 0.6rem;
                                margin: 0rem;
                            }

                        }
                        .FS1BodyContentBox-BodyContent{
                                color: $ContentFontColor;
                                font-size: 0.8rem;
                                font-family: $ContentFont;
                                margin: 0rem;
                        }
                    }
                    .FS1BodyContentBox-Body{
                        margin: 0rem 2rem;
                        .FS1BodyContentBox-Details{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .FS1BodyContentBox-EditButton, .FS1BodyContentBox-RemoveButton{
                                background-color: transparent;
                                font-weight: 800;
                                border: none;
                                font-size: 1.1rem;
                                font-family: $SecondaryFont;
                                text-decoration: underline;
                                padding: 0rem;
                                display: flex;
                                gap: 0.5rem;
                                // justify-content: center;
                                align-items: center;
                            }
                            .FS1BodyContentBox-EditButton{
                                color: $PrimaryColor;
                                text-align: left !important;
                            }
                            .FS1BodyContentBox-RemoveButton{
                                color: $HelpingColor1;
                                text-align: right !important;
                            }
                        }
                    }
                }
                .FS1BodyContent-Box:hover{
                    box-shadow: $PrimaryShadow;
                    transition: 0.5s ease;
                }
            }
            .FSBodyContent-Box{
                width: 26rem;
                min-height: 35rem;
                display: flex;
                border-radius: $PrimaryBorderRadius;
                padding-bottom: 1rem;
                background-color: $SecondaryFontColor;
                flex-direction: column;
                gap: 1rem;
                // justify-content: space-between;
                
                .FSBodyContentBox-ImgContainer{
                    
                    .FSBodyContentBox-Img{
                        border-radius: $UpperRadius;
                        width: 100%;
                        height: 18rem;
                    }
                }
                
                .FSBodyContentBox-Content{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 0rem 2rem;
                    gap: 1rem;
                    .FSBodyContentBox-HeadContent{
                        display: flex;
                        // justify-content: space-between;
                        flex-direction: column;
                        gap: 1rem;
                        // align-items: center;
                        .FSBodyContentBox-ProductName{
                            font-size: 1.25rem;
                            margin: 0rem;
                            font-family: $HeadFont;
                            font-weight: 700;
                            color: $HeadFontColor;
                        }
                        .FSBodyContentBox-ProductPrice{
                            font-family: $HeadFont;
                            color: $ContentFontColor;
                            font-weight: 700;
                            font-size: 0.9rem;
                            margin: 0rem;
                        }

                    }
                    .FSBodyContentBox-BodyContainer{
                        overflow: hidden;
                        overflow-y: scroll;
                        scroll-behavior: smooth;
                        padding: 0rem 1rem 0rem 0rem;
                        
                        .FSBodyContentBox-BodyContent{
                                height: 10rem;
                                color: $ContentFontColor;
                                font-size: 0.8rem;
                                font-family: $ContentFont;
                                margin: 0rem;
                        }
                    }
                    ::-webkit-scrollbar{
                        width: 3px;
                        background-color: $PrimaryColor;
                    }
                    .FSBodyContentBox-BodyContainer::-webkit-scrollbar-thumb{
                        background: $SecondaryColor;
                    }
                }
                .FSBodyContentBox-Body{
                    margin: 0rem 2rem;
                    .FSBodyContentBox-Details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .FSBodyContentBox-EditButton, .FSBodyContentBox-RemoveButton{
                            background-color: transparent;
                            font-weight: 800;
                            border: none;
                            font-size: 1.1rem;
                            font-family: $SecondaryFont;
                            text-decoration: underline;
                            padding: 0rem;
                            display: flex;
                            gap: 0.5rem;
                            // justify-content: center;
                            align-items: center;
                        }
                        .FSBodyContentBox-EditButton{
                            color: $PrimaryColor;
                            text-align: left !important;
                        }
                        .FSBodyContentBox-RemoveButton{
                            color: $HelpingColor1;
                            text-align: right !important;
                        }
                    }
                }
            }
            .FSBodyContent-Box:hover{
                box-shadow: $PrimaryShadow;
                transition: 0.5s ease;
            }
        }
    }
}

@media screen and (max-width:490px){
    .FeaturedSS-BodyMain{
        width: 100%;
        .FeaturedSS-Body{
            .FeaturedSSBody-Nav{
                gap: 1rem;
                justify-content: center;
                .FeaturedSSBodyNav-Button, .FeaturedSSBodyNav-ActiveButton {
                    
                    font-size: 0.6rem;
                }
                
                
            }
            .FeaturedSSBody-Content{
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 18rem;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                .FS1BodyContent-Box{
                    width: 18rem !important;
                    min-height: 15rem !important;
                    border-radius: $SecondaryBorderRadius;
                    
                    .FS1BodyContentBox-ImgContainer{
                        width: 100%;

                        .FS1BodyContentBox-Img{
                            border-radius: $UpperSecondaryRadius;
                            width: 100%;
                            height: 12rem !important;
                            
                        }
                    }
                    
                    .FS1BodyContentBox-Content{
                        padding: 0rem 1rem;
                        gap: 1rem;
                        .FS1BodyContentBox-HeadContent{
                            .FS1BodyContentBox-ProductName{
                                font-size: 1rem !important;
                            }
                            .FS1BodyContentBox-ProductPrice{
                                font-size: 0.8rem !important;
                            }

                        }
                        .FS1BodyContentBox-BodyContent{
                                font-size: 0.8rem !important;
                        }
                    }
                    .FS1BodyContentBox-Body{
                        margin: 0rem 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 490px) and (max-width: 825px){
    .FeaturedSS-BodyMain{
        width: 100%;
        .FeaturedSS-Body{
            .FeaturedSSBody-Nav{
                gap: 1rem;
                justify-content: center;
                .FeaturedSSBodyNav-Button, .FeaturedSSBodyNav-ActiveButton {
                    
                    font-size: 0.8rem;
                }
                
                
            }
            .FeaturedSSBody-Content{
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 25rem;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                .FS1BodyContent-Box{
                    width: 25rem !important;
                    min-height: 30rem !important;
                    border-radius: $SecondaryBorderRadius;
                    
                    .FS1BodyContentBox-ImgContainer{
                        width: 100%;

                        .FS1BodyContentBox-Img{
                            border-radius: $UpperSecondaryRadius;
                            width: 100%;
                            height: 15rem !important;
                            
                        }
                    }
                    
                    .FS1BodyContentBox-Content{
                        padding: 0rem 1rem;
                        gap: 1rem;
                        .FS1BodyContentBox-HeadContent{
                            .FS1BodyContentBox-ProductName{
                                font-size: 1.5rem !important;
                            }
                            .FS1BodyContentBox-ProductPrice{
                                font-size: 1.25rem !important;
                            }

                        }
                        .FS1BodyContentBox-BodyContent{
                                font-size: 1rem !important;
                        }
                    }
                    .FS1BodyContentBox-Body{
                        margin: 0rem 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 825px) and (max-width: 1024px){
    .FeaturedSS-BodyMain{
        width: 100%;
        .FeaturedSS-Body{
            .FeaturedSSBody-Nav{
                gap: 1rem;
                justify-content: left;
                .FeaturedSSBodyNav-Button, .FeaturedSSBodyNav-ActiveButton {
                    
                    font-size: 1rem;
                }
                
                
            }
            .FeaturedSSBody-Content{
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 25rem 25rem;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                .FS1BodyContent-Box{
                    width: 25rem !important;
                    min-height: 30rem !important;
                    border-radius: $SecondaryBorderRadius;
                    
                    .FS1BodyContentBox-ImgContainer{
                        width: 100%;

                        .FS1BodyContentBox-Img{
                            border-radius: $UpperSecondaryRadius;
                            width: 100%;
                            height: 15rem !important;
                            
                        }
                    }
                    
                    .FS1BodyContentBox-Content{
                        padding: 0rem 1rem;
                        gap: 1rem;
                        .FS1BodyContentBox-HeadContent{
                            .FS1BodyContentBox-ProductName{
                                font-size: 1.5rem !important;
                            }
                            .FS1BodyContentBox-ProductPrice{
                                font-size: 1.25rem !important;
                            }

                        }
                        .FS1BodyContentBox-BodyContent{
                                font-size: 1rem !important;
                        }
                    }
                    .FS1BodyContentBox-Body{
                        margin: 0rem 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1248px){
    .FeaturedSS-BodyMain{
        width: 100%;
        .FeaturedSS-Body{
            .FeaturedSSBody-Nav{
                gap: 1rem;
                justify-content: left;
                .FeaturedSSBodyNav-Button, .FeaturedSSBodyNav-ActiveButton {
                    
                    font-size: 1rem;
                }
                
                
            }
            .FeaturedSSBody-Content{
                margin-top: 2rem;
                display: grid;
                grid-template-columns: 20rem 20rem 20rem;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                .FS1BodyContent-Box{
                    width: 20rem !important;
                    min-height: 30rem !important;
                    border-radius: $SecondaryBorderRadius;
                    
                    .FS1BodyContentBox-ImgContainer{
                        width: 100%;

                        .FS1BodyContentBox-Img{
                            border-radius: $UpperSecondaryRadius;
                            width: 100%;
                            height: 15rem !important;
                            
                        }
                    }
                    
                    .FS1BodyContentBox-Content{
                        padding: 0rem 1rem;
                        gap: 1rem;
                        .FS1BodyContentBox-HeadContent{
                            .FS1BodyContentBox-ProductName{
                                font-size: 1.5rem !important;
                            }
                            .FS1BodyContentBox-ProductPrice{
                                font-size: 1.25rem !important;
                            }

                        }
                        .FS1BodyContentBox-BodyContent{
                                font-size: 1rem !important;
                        }
                    }
                    .FS1BodyContentBox-Body{
                        margin: 0rem 1rem;
                    }
                }
            }
        }
    }
}