@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.GalleryLSMain{
    background-color: $PrimaryColor;
    // height: 51.5rem;
    height: 46.2rem;
    padding-top: 8rem;
    color:  $SecondaryFontColor;
    .GalleryLS{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        .GalleryLS-Head{
            width: 50rem;
            font-family: $HeadFont;
            font-weight: 700;
            margin-bottom: 1rem;
            span{
                color: $SecondaryColor;
            }
        }
       
        .GalleryLSHead-Body{
            font-family: $ContentFont;
            color: $ContentFontColor;
            margin: 0rem;
        }
        .GalleryLS-ImgBox{
            width: 50rem;
            height: 20rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $PrimaryBorderRadius;
            overflow: hidden;
            .GalleryLS-Img{
                // position: relative;
                // top: -1rem;
                width: 100%;
            }
        }
        .GalleryLS-CategoryContainer{
            width: 50rem;
            display: flex;
            justify-content: space-between;
            .GalleryLS-Category, .GalleryLS-CategoryActive{
                // font-family: $SecondaryFont;
                font-family: $HeadFont;
                color: $ContentFontColor;
                font-weight: 700;
                background-color: $PrimaryColor;
                border-radius: $PrimaryBorderRadius;
                padding: 1rem 3.5rem;
                margin: 0rem;
                cursor: pointer;
            }
            .GalleryLS-Category:hover{
                transition: 0.3s ease;
                text-decoration: underline;
                color: $SecondaryFontColor;
                z-index: 1;
            }
            .GalleryLS-CategoryActive{
                box-shadow: $SecondaryShadow;
                color: $SecondaryFontColor;
                z-index: 1;
            }
        }
        hr{
            width: 20rem;
            border: 1px solid $SecondaryFontColor;
            opacity: 20%;
            margin: 0rem;
        }
        .GalleryLSCategory-Body{
            font-family: $ContentFont;
            color: $ContentFontColor;
            margin: 0rem;
            width: 35rem;
        }
    }
}


@media screen and (max-width: 900px){
    .GalleryLSMain{
        height: 44.5rem;
        padding-top: 8rem;
        .GalleryLS{
            gap: 1rem;
            .GalleryLS-Head{
                font-size: 1.8rem;
                width: 100%;
            }
            .GalleryLS-ImgBox{
                width: 100%;
                height: 15rem;
                .GalleryLS-Img{
                    height: 100%;
                }
            }
            .GalleryLS-CategoryContainer{
                width: 100%;
                display: grid;
                gap: 1rem;
                grid-template-columns: 10rem 10rem;
                .GalleryLS-Category, .GalleryLS-CategoryActive{
                    padding: 0.8rem 1rem;
                    font-size: 0.7rem;
                }
            }
            .GalleryLSCategory-Body{
                font-size: 0.8rem;
                width: 100%;
            }
        }
    }
}


// @media screen and (max-width: 900px){
//     .GalleryLSMain{
//         height: 33rem;
//         padding-top: 8rem;
//         .GalleryLS{
//             gap: 1rem;
//             .GalleryLS-Head{
//                 font-size: 1.5rem;
//                 width: 100%;
//             }
//             .GalleryLS-ImgBox{
//                 width: 100%;
//                 height: 15rem;
//             }
//             .GalleryLS-CategoryContainer{
//                 width: 100%;
//                 .GalleryLS-Category, .GalleryLS-CategoryActive{
//                     padding: 0.8rem 1rem;
//                     font-size: 0.7rem;
//                 }
//             }
//         }
//     }
// }
