@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.HomeGSMain{
    padding: 5rem 0rem;
    .HomeGS{
        display: flex;
        height: 35rem;
        .HomeGS-Content{
            width: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            .HomeGSContent-Title{
                font-family: $SecondaryFont;
                color: $SecondaryColor;
                font-size: 1rem;
                font-weight: 600;
            }
            .HomeGSContent-Head{
                // width: 34rem;
                font-family: $HeadFont;
                font-weight: 700;
                color: $HeadFontColor;
                font-size: 3rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .HomeGSContent-Body{
                width: 21rem;
                font-family: $ContentFont;
                font-weight: 400;
                color: $ContentFontColor;
            }
            .HomeGSContent-Button{
                width: 16rem;
                height: 3rem;
                display: flex;
                justify-content: center !important;
                align-items: center !important;
                background-color: $HeadFontColor;
                font-family: $SecondaryFont;
                font-weight: 600;
                color: $SecondaryFontColor;
                border: none;
                border-radius: $SecondaryBorderRadius;
            }
        }
        .HomeGS-Gallery{
            position: relative;
            width: 45rem;

            .HomeGSGallery-ImgContainer1, .HomeGSGallery-ImgContainer2, .HomeGSGallery-ImgContainer3{
                background-color: #ffffff;
                box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.10);
                border-radius: $PrimaryBorderRadius;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                .HomeGSGallery-ImgBox1 , .HomeGSGallery-ImgBox2 , .HomeGSGallery-ImgBox3{
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 90%;
                    width: 92%;
                    position: relative;
                    border-radius: $SecondaryBorderRadius;
                    .HomeGSGalleryImg1-Shadow , .HomeGSGalleryImg2-Shadow , .HomeGSGalleryImg3-Shadow{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 10;
                        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40.94%, #000 91.56%);
                        .HomeGSGalleryImg1Shadow-Text, .HomeGSGalleryImg2Shadow-Text , .HomeGSGalleryImg3Shadow-Text{
                            position: absolute;
                            margin: 0rem;
                            left: 1rem;
                            bottom: 0.8rem;
                            color: $SecondaryFontColor;
                            font-family: $ContentFont;
                        }
                    }
                }
            } 
            .HomeGSGallery-ImgContainer1:hover, .HomeGSGallery-ImgContainer2:hover, .HomeGSGallery-ImgContainer3:hover{
                
                .HomeGSGallery-ImgBox1 , .HomeGSGallery-ImgBox2 , .HomeGSGallery-ImgBox3{
                    .HomeGSGallery-Img1, .HomeGSGallery-Img2, .HomeGSGallery-Img3{
                        transform: scale(1.05);
                        transition: 300ms ease;
                    }
                    
                }
            }

            .HomeGSGallery-ImgContainer1{
                width: 30rem;
                height: 20rem;
                top: 2rem;
                right: -1.75rem;
                .HomeGSGallery-ImgBox1{
                    .HomeGSGalleryImg1-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 1.2rem;
                        }
                    }
                        .HomeGSGallery-Img1{
                            min-width: 100%;
                            height: 100%;
                            border-radius: $SecondaryBorderRadius;
                        }
                    
                }
                
            }
            .HomeGSGallery-ImgContainer2{
                width: 18rem;
                height: 10rem;
                bottom: 0rem;
                left: 12rem;
                .HomeGSGallery-ImgBox2{
                    .HomeGSGalleryImg2-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 0.8rem;
                            // border: 2px solid red;
                        }
                    }
                .HomeGSGallery-Img2{
                    width: 100%;
                    min-height: 85%;
                    border-radius: $SecondaryBorderRadius;
                
            }
        }
            }

            .HomeGSGallery-ImgContainer3{
                width: 15rem;
                height: 12rem;
                bottom: 5rem;
                left: -5rem;
                // top: 50%;
                .HomeGSGallery-ImgBox3{
                    .HomeGSGalleryImg3-Shadow{
                        .HomeGSGalleryImg3Shadow-Text{
                            font-size: 1rem;
                        }
                    }
                .HomeGSGallery-Img3{
                    width: 100%;
                    min-height: 100%;
                    border-radius: $SecondaryBorderRadius;
                
            }
        }
            }
            .HomeGSGallery-BlueBG{
                opacity: 20%;
                position: absolute;
                width: 30rem;
                bottom: 7rem;
                left: 5rem;
                z-index: -1;
            }
            .HomeGSGallery-PinkBG{
                opacity: 20%;
                position: absolute;
                width: 8rem;
                bottom: 1.5rem;
                left: -8rem;
                z-index: -1;
            }
        }
    }
}

@media only screen and (max-width:990px){
    .HomeGSMain{
        // padding: 5rem 0rem;
        .HomeGS{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            .HomeGS-Content{
                width: 100%;
                text-align: center;
                justify-content: center;
                align-items: center;
                .HomeGSContent-Title{
                    font-size: 0.8rem;
                    font-weight: 800;
                }
                .HomeGSContent-Head{
                    font-size: 1.8rem;
                }
                .HomeGSContent-Body{
                    width: 100%;
                    font-size: 0.8rem;
                }
                .HomeGSContent-Button{
                    width: 10rem;
                    height: 2.5rem;
                    font-size: 0.8rem;
                }
            }
            .HomeGS-Gallery{
                width: 21rem;
                height: 20rem;
    
                .HomeGSGallery-ImgContainer1, .HomeGSGallery-ImgContainer2, .HomeGSGallery-ImgContainer3{
                    border-radius: $SecondaryBorderRadius;
                } 
    
            //     .HomeGSGallery-ImgContainer1{
            //         width: 18rem;
            //         height: 12rem;
            //         top: 4rem;
            //         right: 0rem;
            //         .HomeGSGallery-ImgBox1{
            //             .HomeGSGalleryImg1-Shadow{
            //                 .HomeGSGalleryImg1Shadow-Text{
            //                     font-size: 0.8rem;
            //                 }
            //             }
            //                 .HomeGSGallery-Img1{
            //                     width: 16.5rem;
            //                     height: 10.5rem;
            //                     border-radius: $SecondaryBorderRadius;
            //                 }
                        
            //         }
                    
            //     }
            //     .HomeGSGallery-ImgContainer2{
            //         width: 12rem;
            //         height: 7rem;
            //         bottom: 0rem;
            //         left: 10.5rem;
            //         .HomeGSGallery-ImgBox2{
            //             .HomeGSGalleryImg2-Shadow{
            //                 .HomeGSGalleryImg1Shadow-Text{
            //                     font-size: 0.7rem;
            //                     // border: 2px solid red;
            //                 }
            //             }
            //         .HomeGSGallery-Img2{
            //             width: 10.5rem;
            //             height: 5.75rem;
                    
            //     }
            // }
            //     }
    
            //     .HomeGSGallery-ImgContainer3{
            //         width: 9rem;
            //         height: 8rem;
            //         bottom: 4rem;
            //         left: 0rem;
            //         .HomeGSGallery-ImgBox3{
            //             .HomeGSGalleryImg3-Shadow{
            //                 .HomeGSGalleryImg3Shadow-Text{
            //                     font-size: 0.7rem;
            //                 }
            //             }
            //         .HomeGSGallery-Img3{
            //             width: 7.75rem;
            //             height: 6.75rem;
            //             border-radius: $SecondaryBorderRadius;
                    
            //     }
            // }
            //     }
            //     .HomeGSGallery-BlueBG{
            //         bottom: 2rem;
            //         left: 0rem;
            //         z-index: -1;
            //     }
            //     .HomeGSGallery-PinkBG{
            //         z-index: -2;
            //         bottom: 4rem;
            //         // bottom: -3rem;
            //         // left: 18.5rem;
            //         left: -2.5rem;
            //     }

            .HomeGSGallery-ImgContainer1{
                width: 13rem;
                height: 10rem;
                top: 2rem;
                right: 0rem;
                .HomeGSGallery-ImgBox1{
                    .HomeGSGalleryImg1-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 0.8rem;
                        }
                    }
                        .HomeGSGallery-Img1{
                            // width: 12rem;
                            // height: 9rem;
                            border-radius: $SecondaryBorderRadius;
                        }
                    
                }
                
            }
            .HomeGSGallery-ImgContainer2{
                width: 9rem;
                height: 5rem;
                bottom: 1.5rem;
                left: 8rem;
                .HomeGSGallery-ImgBox2{
                    .HomeGSGalleryImg2-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 0.7rem;
                            // border: 2px solid red;
                        }
                    }
        }
            }

            .HomeGSGallery-ImgContainer3{
                width: 7rem;
                height: 7rem;
                bottom: 4rem;
                left: 0rem;
                .HomeGSGallery-ImgBox3{
                    .HomeGSGalleryImg3-Shadow{
                        .HomeGSGalleryImg3Shadow-Text{
                            font-size: 0.7rem;
                        }
                    }
                .HomeGSGallery-Img3{
                    // width: 6rem;
                    // height: 6rem;
                    border-radius: $SecondaryBorderRadius;
                
            }
        }
            }
            .HomeGSGallery-BlueBG{
                // visibility: hidden;
                bottom: -4rem;
                left: 4rem;
                width: 15rem !important;
                height: 27rem !important;
                z-index: -1;
            }
            .HomeGSGallery-PinkBG{
                // z-index: -2;
                bottom: 2rem;
                width: 5rem;
                height: 5rem;
                // bottom: -3rem;
                // left: 18.5rem;
                left: -2rem;
            }

            }
        }
    }
}

@media screen and  (min-width: 990px ) and (max-width:1248px){
    .HomeGSMain{
        .HomeGS{
            display: flex;
            // gap: 5rem;
            justify-content: space-between;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            height: auto;
            .HomeGS-Content{
                width: 30rem;
                // width: 100%;
                // text-align: center;
                // justify-content: center;
                // align-items: center;
                .HomeGSContent-Title{
                    font-size: 1rem;
                    font-weight: 800;
                }
                .HomeGSContent-Head{
                    width: 25rem;
                    font-size: 2.15rem;
                }
                .HomeGSContent-Body{
                    // width: 100%;
                    font-size: 1rem;
                }
                .HomeGSContent-Button{
                    width: 12rem;
                    height: 3rem;
                    font-size: 1rem;
                }
            }
            .HomeGS-Gallery{
                width: 30rem;
                height: 25rem;
    
                .HomeGSGallery-ImgContainer1, .HomeGSGallery-ImgContainer2, .HomeGSGallery-ImgContainer3{
                    border-radius: $SecondaryBorderRadius;
                } 

            .HomeGSGallery-ImgContainer1{
                width: 18rem;
                height: 12rem;
                top: 2rem;
                right: 0rem;
                .HomeGSGallery-ImgBox1{
                    .HomeGSGalleryImg1-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 1rem;
                        }
                    }
                        .HomeGSGallery-Img1{
                            // width: 17rem;
                            // height: 11rem;
                            border-radius: $SecondaryBorderRadius;
                        }
                    
                }
                
            }
            .HomeGSGallery-ImgContainer2{
                width: 12rem;
                height: 7rem;
                bottom: 1.5rem;
                left: 12rem;
                .HomeGSGallery-ImgBox2{
                    .HomeGSGalleryImg2-Shadow{
                        .HomeGSGalleryImg1Shadow-Text{
                            font-size: 0.8rem;
                            // border: 2px solid red;
                        }
                    }
        }
            }

            .HomeGSGallery-ImgContainer3{
                width: 10rem;
                height: 7rem;
                bottom: 5rem;
                left: 0rem;
                .HomeGSGallery-ImgBox3{
                    .HomeGSGalleryImg3-Shadow{
                        .HomeGSGalleryImg3Shadow-Text{
                            font-size: 0.9rem;
                        }
                    }
                .HomeGSGallery-Img3{
                    // width: 9rem;
                    // height: 6rem;
                    border-radius: $SecondaryBorderRadius;
                
            }
        }
            }
            .HomeGSGallery-BlueBG{
                // visibility: hidden;
                bottom: -2rem;
                left: 7rem;
                width: 20rem !important;
                height: 27rem !important;
                z-index: -1;
            }
            .HomeGSGallery-PinkBG{
                bottom: 2rem;
                width: 6rem;
                height: 6rem;
                left: -2rem;
            }

            }
        }
    }
}