.HomeGSMain {
  padding: 5rem 0rem;
}
.HomeGSMain .HomeGS {
  display: flex;
  height: 35rem;
}
.HomeGSMain .HomeGS .HomeGS-Content {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Title {
  font-family: Martel Sans;
  color: #25C1EC;
  font-size: 1rem;
  font-weight: 600;
}
.HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Head {
  font-family: Montserrat;
  font-weight: 700;
  color: #364154;
  font-size: 3rem;
}
.HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Head span {
  color: #25C1EC;
}
.HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Body {
  width: 21rem;
  font-family: Rasa;
  font-weight: 400;
  color: #888888;
}
.HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Button {
  width: 16rem;
  height: 3rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: #364154;
  font-family: Martel Sans;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery {
  position: relative;
  width: 45rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 92%;
  position: relative;
  border-radius: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.94%, #000 91.56%);
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg3Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg1Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg2Shadow-Text, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text {
  position: absolute;
  margin: 0rem;
  left: 1rem;
  bottom: 0.8rem;
  color: #ffffff;
  font-family: Rasa;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox1 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox2 .HomeGSGallery-Img3, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3:hover .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3 {
  transform: scale(1.05);
  transition: 300ms ease;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 {
  width: 30rem;
  height: 20rem;
  top: 2rem;
  right: -1.75rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text {
  font-size: 1.2rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1 {
  min-width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 {
  width: 18rem;
  height: 10rem;
  bottom: 0rem;
  left: 12rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text {
  font-size: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGallery-Img2 {
  width: 100%;
  min-height: 85%;
  border-radius: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
  width: 15rem;
  height: 12rem;
  bottom: 5rem;
  left: -5rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text {
  font-size: 1rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3 {
  width: 100%;
  min-height: 100%;
  border-radius: 0.8rem;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-BlueBG {
  opacity: 20%;
  position: absolute;
  width: 30rem;
  bottom: 7rem;
  left: 5rem;
  z-index: -1;
}
.HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-PinkBG {
  opacity: 20%;
  position: absolute;
  width: 8rem;
  bottom: 1.5rem;
  left: -8rem;
  z-index: -1;
}

@media only screen and (max-width: 990px) {
  .HomeGSMain .HomeGS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .HomeGSMain .HomeGS .HomeGS-Content {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Title {
    font-size: 0.8rem;
    font-weight: 800;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Head {
    font-size: 1.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Body {
    width: 100%;
    font-size: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Button {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery {
    width: 21rem;
    height: 20rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 {
    width: 13rem;
    height: 10rem;
    top: 2rem;
    right: 0rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text {
    font-size: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 {
    width: 9rem;
    height: 5rem;
    bottom: 1.5rem;
    left: 8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text {
    font-size: 0.7rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
    width: 7rem;
    height: 7rem;
    bottom: 4rem;
    left: 0rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text {
    font-size: 0.7rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-BlueBG {
    bottom: -4rem;
    left: 4rem;
    width: 15rem !important;
    height: 27rem !important;
    z-index: -1;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-PinkBG {
    bottom: 2rem;
    width: 5rem;
    height: 5rem;
    left: -2rem;
  }
}
@media screen and (min-width: 990px) and (max-width: 1248px) {
  .HomeGSMain .HomeGS {
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  .HomeGSMain .HomeGS .HomeGS-Content {
    width: 30rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Title {
    font-size: 1rem;
    font-weight: 800;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Head {
    width: 25rem;
    font-size: 2.15rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Body {
    font-size: 1rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Content .HomeGSContent-Button {
    width: 12rem;
    height: 3rem;
    font-size: 1rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery {
    width: 30rem;
    height: 25rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2, .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 {
    width: 18rem;
    height: 12rem;
    top: 2rem;
    right: 0rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGalleryImg1-Shadow .HomeGSGalleryImg1Shadow-Text {
    font-size: 1rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer1 .HomeGSGallery-ImgBox1 .HomeGSGallery-Img1 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 {
    width: 12rem;
    height: 7rem;
    bottom: 1.5rem;
    left: 12rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer2 .HomeGSGallery-ImgBox2 .HomeGSGalleryImg2-Shadow .HomeGSGalleryImg1Shadow-Text {
    font-size: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 {
    width: 10rem;
    height: 7rem;
    bottom: 5rem;
    left: 0rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGalleryImg3-Shadow .HomeGSGalleryImg3Shadow-Text {
    font-size: 0.9rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-ImgContainer3 .HomeGSGallery-ImgBox3 .HomeGSGallery-Img3 {
    border-radius: 0.8rem;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-BlueBG {
    bottom: -2rem;
    left: 7rem;
    width: 20rem !important;
    height: 27rem !important;
    z-index: -1;
  }
  .HomeGSMain .HomeGS .HomeGS-Gallery .HomeGSGallery-PinkBG {
    bottom: 2rem;
    width: 6rem;
    height: 6rem;
    left: -2rem;
  }
}/*# sourceMappingURL=HomeGallerySec.css.map */