@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.QualityStripMain{
    background-color: $PrimaryColor;
    height: 20rem;
    color: $SecondaryFontColor;
    display: flex;
    align-items: center;

    .QualityStrip{
        display: flex;
        justify-content: space-between;

        .QualityStripContent{
            font-size: 3.5rem;
            text-align: center;
            font-family: $HeadFont;
            font-weight: 700;

            span{
                color: $SecondaryColor;
            }
        }
    }
}

@media screen and (max-width: 490px){
    .QualityStripMain{
        padding: 5rem 0rem;
        height: auto;
        
        .QualityStrip{
            flex-direction: column;
            gap: 5rem;
    
            .QualityStripContent{
                font-size: 2rem;
            }
        }
    }
}

@media screen and (min-width: 490px) and (max-width: 1024px){
    .QualityStripMain{
        padding: 5rem 0rem;
        height: auto;
        
        .QualityStrip{
            flex-direction: column;
            gap: 5rem;
    
            .QualityStripContent{
                font-size: 3rem;
            }
        }
    }
}

// @media screen and (min-width: 744px) and (max-width: 1024px){
//     .QualityStripMain{
//         padding: 5rem 0rem;
//         height: auto;
        
//         .QualityStrip{
//             flex-direction: column;
//             gap: 5rem;
    
//             .QualityStripContent{
//                 font-size: 3.5rem;
//             }
//         }
//     }
// }