.HomeLSMain {
  height: 51.5rem;
  padding-top: 12rem;
  color: #f4f4f4;
  background-color: #1e1e1e;
  overflow: hidden;
}
.HomeLSMain .HomeLS {
  display: flex;
  gap: 0rem;
  position: relative;
}
.HomeLSMain .HomeLS .HomeLS-Content {
  display: flex;
  flex-direction: column;
  width: 43rem;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Head {
  width: 42rem;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Head span {
  color: #25C1EC;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base {
  height: 18rem;
  display: flex;
  align-items: flex-end;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Head {
  height: 4.2rem;
  width: 20rem;
  font-size: 1.35rem;
  font-weight: 700;
  font-family: Montserrat;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values {
  display: flex;
  gap: 1.5rem;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items {
  width: 6rem;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items .HomeLSContentBaseValuesItems-Value {
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 700;
}
.HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items .HomeLSContentBaseValuesItems-Description {
  font-size: 0.7rem;
  font-weight: 400;
  color: #888888;
}
.HomeLSMain .HomeLS .HomeLS-ImageContainer {
  width: 35rem;
  height: 41.4rem;
  overflow: hidden;
  position: relative;
  right: 0rem !important;
  margin-left: 2rem;
  z-index: 1;
  border-radius: 1.25rem 1.25rem 0rem 0rem;
}
.HomeLSMain .HomeLS .HomeLS-ImageContainer .HomeLS-Image {
  width: 100%;
  height: 100%;
}
.HomeLSMain .HomeLS .HomeLSImageContainer-BGBlue {
  position: absolute;
  opacity: 20%;
  right: -25rem;
  top: -6rem;
}
.HomeLSMain .HomeLS .HomeLSImageContainer-BGPink {
  position: absolute;
  opacity: 20%;
  right: 27rem;
  bottom: 10rem;
}

@media screen and (max-width: 600px) {
  .HomeLSMain {
    height: 44.5rem;
    padding-top: 6rem;
  }
  .HomeLSMain .HomeLS {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .HomeLSMain .HomeLS .HomeLS-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Head {
    width: 100%;
    font-size: 1.9rem;
    text-align: center;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base {
    height: auto;
    text-align: center;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 {
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Head {
    height: auto;
    width: 100%;
    font-size: 0.8rem;
    color: #888888;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values {
    width: 100%;
    justify-content: center;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items {
    width: 4rem;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items .HomeLSContentBaseValuesItems-Value {
    font-size: 1rem;
  }
  .HomeLSMain .HomeLS .HomeLS-Content .HomeLSContent-Base .HomeLSContentBase-L1 .HomeLSContentBase-Values .HomeLSContentBaseValues-Items .HomeLSContentBaseValuesItems-Description {
    font-size: 0.5rem;
    font-weight: 400;
    color: #888888;
  }
  .HomeLSMain .HomeLS .HomeLS-ImageContainer {
    width: 18rem;
    height: 21.6rem;
    margin-left: 0rem;
  }
  .HomeLSMain .HomeLS .HomeLS-ImageContainer .HomeLS-Image {
    width: 100%;
    height: 100%;
  }
  .HomeLSMain .HomeLS .HomeLSImageContainer-BGBlue {
    right: -30rem;
    top: 13rem;
  }
  .HomeLSMain .HomeLS .HomeLSImageContainer-BGPink {
    right: 14rem;
    bottom: 3rem;
  }
}/*# sourceMappingURL=HomeLandingSec.css.map */