@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.HomeLSMain{
    // border: 2px solid red;
    height: 46.2rem;
    padding-top: 10rem;
    color: $ThirdColor;
    background-color: $PrimaryColor;
    overflow: hidden;
    
    
    .HomeLS{
        
        display: flex;
        gap: 0rem;
    position: relative;
        .HomeLS-Content{
            display: flex;
            flex-direction: column;
            width: 43rem;
            // gap: 5rem;

            .HomeLSContent-Head{
                width: 38rem;
                font-family: $HeadFont;
                font-size: 3.5rem;
                font-weight: 700;
                .HomeLSContent-HeadColor{
                    color: $SecondaryColor;
                }
            }
            .HomeLSContent-Base{
                height: 18rem;
                display: flex;
                align-items: flex-end;
                // align-content: flex-end;
                .HomeLSContentBase-L1{
                    width: 100%;
                    display: flex;
                    gap: 2rem;
                    justify-content: space-between;

                

                .HomeLSContentBase-Head{
                    height: 4.2rem;
                    width: 20rem;
                    font-size: 1.35rem;
                    font-weight: 700;
                    // padding-top: 0.1rem;
                    font-family: $HeadFont;
                }

                .HomeLSContentBase-Values{
                    display: flex;
                    gap: 1.5rem;
                    .HomeLSContentBaseValues-Items{
                        width: 6rem;
                        .HomeLSContentBaseValuesItems-Value{
                            font-family: $HeadFont;
                            font-size: 1.8rem;
                            font-weight: 700;
                        }
                        .HomeLSContentBaseValuesItems-Description{
                            font-size: 0.7rem;
                            font-weight: 400;
                            color: $ContentFontColor;
                        }
                    }
                    
                }

            }
        }
    }
        .HomeLS-ImageContainer{
            width: 35rem;
            height: 41.4rem;
            overflow: hidden;
            position: relative;
            right: 0rem !important;
            margin-left: 2rem;
            z-index: 1;
        // bottom: -1.9rem;
        border-radius: $UpperRadius;
        
            .HomeLS-Image{
                width: 100%;
                height: 100%;
            }
        }
        .HomeLSImageContainer-BGBlue{
            position: absolute;
            opacity: 20%;
            // z-index: 0;
            right: -28rem;
            top: -4rem;
        }
        .HomeLSImageContainer-BGPink{
            position: absolute;
            opacity: 20%;
            right: 27rem;
            bottom: 10rem;
        }
    }
}


// ***********Mobile view*************

@media screen and (max-width: 490px){
    .HomeLSMain{
        height: 44.5rem;
        padding-top: 6rem;
        // overflow: visible;
        .HomeLS{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            .HomeLS-Content{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;
    
                .HomeLSContent-Head{
                    width: 100%;
                    font-size: 1.9rem;
                    text-align: center;
                }
                .HomeLSContent-Base{
                    // visibility: hidden;
                    height: auto;
                    text-align: center;
                    .HomeLSContentBase-L1{
                        width: 100%;
                        flex-direction: column;
                        gap: 0.5rem;
    
                    
    
                    .HomeLSContentBase-Head{
                        height: auto;
                        width: 100%;
                        font-size: 0.8rem;
                        color: $ContentFontColor;
                    }
    
                    .HomeLSContentBase-Values{
                        width: 100%;
                        justify-content: center;
                        .HomeLSContentBaseValues-Items{
                            width: 4rem;
                            .HomeLSContentBaseValuesItems-Value{
                                font-size: 1rem;
                            }
                            .HomeLSContentBaseValuesItems-Description{
                                font-size: 0.5rem;
                                font-weight: 400;
                                color: $ContentFontColor;
                            }
                        }
                        
                    }
    
                }
            }
        }
            .HomeLS-ImageContainer{
                width: 18rem;
                height: 21.6rem;
                margin-left: 0rem;
            
                .HomeLS-Image{
                    width: 100%;
                    height: 100%;
                }
            }
            .HomeLSImageContainer-BGBlue{
                // z-index: 0;
                right: -30rem;
                top: 13rem;
            }
            .HomeLSImageContainer-BGPink{
                right:14rem;
                bottom: 3rem;
            }
        }
    }
}

@media screen and (min-width: 490px) and (max-width: 770px) {
    .HomeLSMain{
        height: 51.2rem;
        padding-top: 8rem;
        // overflow: visible;
        .HomeLS{
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            .HomeLS-Content{
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 2rem;
    
                .HomeLSContent-Head{
                    width: 100%;
                    font-size: 2.15rem;
                    text-align: center;
                }
                .HomeLSContent-Base{
                    // visibility: hidden;
                    height: auto;
                    text-align: center;
                    .HomeLSContentBase-L1{
                        width: 100%;
                        flex-direction: column;
                        gap: 0.5rem;
    
                    
    
                    .HomeLSContentBase-Head{
                        height: auto;
                        width: 100%;
                        font-size: 1rem;
                        color: $ContentFontColor;
                    }
    
                    .HomeLSContentBase-Values{
                        width: 100%;
                        justify-content: center;
                        .HomeLSContentBaseValues-Items{
                            width: 6rem;
                            .HomeLSContentBaseValuesItems-Value{
                                font-size: 1.5rem;
                            }
                            .HomeLSContentBaseValuesItems-Description{
                                font-size: 0.8rem;
                                font-weight: 400;
                                color: $ContentFontColor;
                            }
                        }
                        
                    }
    
                }
            }
        }
            .HomeLS-ImageContainer{
                width: 22rem;
                height: 24rem;
                margin-left: 0rem;
            
                .HomeLS-Image{
                    width: 100%;
                    height: 100%;
                }
            }
            .HomeLSImageContainer-BGBlue{
                // z-index: 0;
                opacity: 10%;
                right: -30rem;
                top: 10rem;
            }
            .HomeLSImageContainer-BGPink{
                right:18rem;
                bottom: 3rem;
            }
        }
    }
}

@media screen and (min-width: 770px) and (max-width: 1024px){
    .HomeLSMain{
        height: 35rem;
        padding-top: 10rem;
        // overflow: visible;
        .HomeLS{
            // flex-direction: column;
            // align-items: center;
            gap: 1rem;
            height: 25rem;
            .HomeLS-Content{
                // display: flex;
                // flex-direction: column;
                // width: 100%;
                // gap: 2rem;
                // height: auto;
    
                .HomeLSContent-Head{
                    width: 23rem;
                    font-size: 2.2rem;
                    // text-align: center;
                }
                .HomeLSContent-Base{
                    // visibility: hidden;
                    // height: auto;
                    // text-align: center;
                    .HomeLSContentBase-L1{
                        width: 25rem;
                        // flex-direction: column;
                        gap: 0.5rem;
    
                    
    
                    .HomeLSContentBase-Head{
                        height: auto;
                        width: auto;
                        font-size: 0.7rem;
                        color: $ContentFontColor;
                    }
    
                    .HomeLSContentBase-Values{
                        width: 100%;
                        justify-content: center;
                        .HomeLSContentBaseValues-Items{
                            width: 4rem;
                            .HomeLSContentBaseValuesItems-Value{
                                font-size: 1.25rem;
                            }
                            .HomeLSContentBaseValuesItems-Description{
                                font-size: 0.5rem;
                                font-weight: 400;
                                color: $ContentFontColor;
                            }
                        }
                        
                    }
    
                }
            }
        }
            .HomeLS-ImageContainer{
                width: 30rem;
                height: 25rem;
                margin-left: 0rem;
            
                .HomeLS-Image{
                    width: 100%;
                    height: 100%;
                }
            }
            .HomeLSImageContainer-BGBlue{
                // z-index: 0;
                opacity: 10%;
                right: -35rem;
                top: -4rem;
            }
            .HomeLSImageContainer-BGPink{
                right:10rem;
                bottom: 5rem;
            }
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1200px){
    .HomeLSMain{
        height: 40rem;
        padding-top: 10rem;
        // overflow: visible;
        .HomeLS{
            // flex-direction: column;
            // align-items: center;
            gap: 1rem;
            height: 30rem;
            .HomeLS-Content{
                // display: flex;
                // flex-direction: column;
                // width: 100%;
                // gap: 2rem;
                // height: auto;
    
                .HomeLSContent-Head{
                    width: 28rem;
                    font-size: 2.5rem;
                    // text-align: center;
                }
                .HomeLSContent-Base{
                    // visibility: hidden;
                    // height: auto;
                    // text-align: center;
                    .HomeLSContentBase-L1{
                        // width: 35rem;
                        width: 100%;
                        // flex-direction: column;
                        gap: 1rem;
    
                    
    
                    .HomeLSContentBase-Head{
                        height: auto;
                        width: auto;
                        font-size: 0.9rem;
                        color: $ContentFontColor;
                    }
    
                    .HomeLSContentBase-Values{
                        width: 100%;
                        justify-content: center;
                        .HomeLSContentBaseValues-Items{
                            width: 6rem;
                            .HomeLSContentBaseValuesItems-Value{
                                font-size: 1.75rem;
                            }
                            .HomeLSContentBaseValuesItems-Description{
                                font-size: 0.8rem;
                                font-weight: 400;
                                color: $ContentFontColor;
                            }
                        }
                        
                    }
    
                }
            }
        }
            .HomeLS-ImageContainer{
                width: 30rem;
                height: 30rem;
                margin-left: 0rem;
            
                .HomeLS-Image{
                    width: 100%;
                    height: 100%;
                }
            }
            .HomeLSImageContainer-BGBlue{
                // z-index: 0;
                opacity: 10%;
                right: -30rem;
                top: -5rem;
            }
            .HomeLSImageContainer-BGPink{
                right:15rem;
                bottom: 5rem;
            }
        }
    }
}

// @media screen and (min-width: 1200px) and (max-width: 1440px){
//     .HomeLSMain{
//         // height: 65rem;
//         // padding-top: 12rem;
//         // overflow: visible;
//         .HomeLS{
//             // flex-direction: column;
//             // align-items: center;
//             gap: 2rem;
//             .HomeLS-Content{
//                 height: 100%;
//                 justify-content: space-between;
//                 // flex-direction: column;
//                 // width: 100%;
//                 gap: 10rem;
    
//                 .HomeLSContent-Base{
//                     // visibility: hidden;
//                     height: auto;
//                     // text-align: center;
//                     .HomeLSContentBase-L1{
//                         // width: 100%;
//                         // flex-direction: column;
//                         gap: 0.5rem;
    
                    
    
//                     .HomeLSContentBase-Head{
//                         height: auto;
//                         // width: 100%;
//                         // font-size: 1.5rem;
//                         color: $ContentFontColor;
//                     }
    
//                     .HomeLSContentBase-Values{
//                         width: 100%;
//                         justify-content: center;
//                         .HomeLSContentBaseValues-Items{
//                             // width: 10rem;
//                             .HomeLSContentBaseValuesItems-Description{
//                                 // font-size: 1.25rem;
//                                 font-weight: 400;
//                                 color: $ContentFontColor;
//                             }
//                         }
                        
//                     }
    
//                 }
//             }
//         }
//             .HomeLS-ImageContainer{
//                 width: 30rem;
//                 // height: 33rem;
//                 margin-left: 0rem;
            
//                 .HomeLS-Image{
//                     width: 100%;
//                     height: 100%;
//                 }
//             }
//             .HomeLSImageContainer-BGBlue{
//                 // z-index: 0;
//                 opacity: 10%;
//                 right: -20rem;
//                 top: -4rem;
//             }
//             .HomeLSImageContainer-BGPink{
//                 right:27rem;
//                 bottom: 10rem;
//             }
//         }
//     }
// }


