@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.AboutTSMain{
    padding-bottom: 10vh;
    .AboutTS{
        display: flex;
        gap: 13.8rem;
        align-items: center;
        // justify-content: center;
        // justify-content: space-between;
        .AboutTS-Body{
            width: 30rem;
            .AboutTSBody-Title{
                font-family: $ContentFont;
                color: $SecondaryColor;
                font-weight: 800;
            }
            .AboutTSBody-Heading{
                font-family: $HeadFont;
                color: $HeadFontColor;
                font-weight: 800;
                font-size: 3rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .AboutTSBody-Content{
                font-family: $ContentFont;
                color: $ContentFontColor;
            }
            .AboutTSBody-ButtonPrev, .AboutTSBody-ButtonNext{
                border: none;
                background-color: transparent;
                color: $SecondaryFontColor;
                padding: 0rem;
            }
        }
        .AboutTS-ImgContainer{
            position: relative;
            .AboutTSImgContainer-FloatBox{
                position: absolute;
                bottom: 5rem;
                right: -10rem;
                background-color: $SecondaryFontColor;
                width: 28rem;
                height: 12rem;
                padding: 1rem 2rem;
                box-shadow: $PrimaryShadow;
                border-radius: $SecondaryBorderRadius;
                .AboutTSImgFloatBox-Content{
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                    margin-bottom: 1rem;
                }
                .AboutTSImgFloatBox-ReviewFrom{
                    display: flex;
                    // align-items: center;
                    // justify-content: center;
                    justify-content: space-between;
                    .AboutTSImgFloatBox-Name{
                        font-family: $SecondaryFont;
                        font-weight: 700;
                        margin: 0rem;
                    }
                    .AboutTSImgFloatBox-Ratings{
                        display: flex;
                        .AboutTSImgFloatBoxRate-SVG{
                            padding: 0rem;
                            svg{
                                width: 1rem !important;
                                height: 1rem !important;
                                
                            }
                        }
                    }
                }
            }
            .AboutTSImgContainer-ImgBox{
                width: 28rem;
                height: 36rem;
                .AboutTSImgContainer-Img{
                    width: 100%;
                }
            }
        }
    }
}



@media screen and (max-width: 900px){
    .AboutTSMain{
        .AboutTS{
            gap: 2rem;
            .AboutTS-Body{
                width: 15rem;
                .AboutTSBody-Title{
                    font-size: 0.6rem;
                }
                .AboutTSBody-Heading{
                    font-size: 1.25rem;
                }
                .AboutTSBody-Content{
                    font-size: 0.6rem;
                }
                .AboutTSBody-ButtonPrev, .AboutTSBody-ButtonNext{
                    
                    width: 2rem;
                    height: 2rem;
                }
            }
            .AboutTS-ImgContainer{
                position: relative;
                .AboutTSImgContainer-FloatBox{
                    bottom: 1rem;
                    right: -0.5rem;
                    width: 10rem;
                    height: 6rem;
                    padding: 0.5rem 0.8rem;
                    .AboutTSImgFloatBox-Content{
                        font-family: $ContentFont;
                        color: $ContentFontColor;
                        margin-bottom: 1rem;
                        font-size: 0.4rem;
                        margin-bottom: 0.3rem;
                    }
                    .AboutTSImgFloatBox-ReviewFrom{
                        display: flex;
                        flex-direction: column;
                        .AboutTSImgFloatBox-Name{
                            font-size: 0.6rem;
                        }
                        .AboutTSImgFloatBox-Ratings{
                            .AboutTSImgFloatBoxRate-SVG{
                                margin-top: -0.5rem;
                                svg{
                                    width: 0.5rem !important;
                                    height: 0.5rem !important;

                                }
                                
                            }
                        }
                    }
                }
                .AboutTSImgContainer-ImgBox{
                    width: 13rem;
                    height: 18rem;
                    overflow: hidden;
                    border-radius: $PrimaryBorderRadius;
                    .AboutTSImgContainer-Img{
                        width: 100%;
                    }
                }
            }
        }
    }
}