@import "../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.ServiceLSMain{
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    height: 51.5rem;
    padding-top: 12rem;
    .ServiceLS{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .ServiceLS-Head{
            display: flex;
            justify-content: space-between;
            .ServiceLSHead-Heading{
                font-family: $HeadFont;
                font-size: 3rem;
                font-weight: 700;
                width: 40rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .ServiceLSHead-Body{
                width: 35rem;
                .ServiceLSHeadBody-Content{
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                    font-size: 1.25rem;

                }
                .ServiceLSHeadBody-Button{
                    background-color: $HeadFontColor;
                    border: none;
                    border-radius: $SecondaryBorderRadius;
                    color: $SecondaryFontColor;
                    width: 12rem;
                    height: 3rem;
                    font-family: $SecondaryFont;
                    font-weight: 700;
                }
            }
        }
        .ServiceLS-ImgBody{
            position: relative;     
            border-radius: $PrimaryBorderRadius;
            .ServiceLSImgBody-Content{
                position: absolute;
                font-family: $HeadFont;
                font-weight: 600;
                bottom: 0rem;
                right: 1rem;
                z-index: 1;
            }
            .ServiceLSImgBody-UpperShadow{
                position: absolute;
                width: 81rem;
                height: 0rem;
                border-radius: $PrimaryBorderRadius;
            }
            .ServiceLSImgBody-ImgContainer{
                width: 81rem;
                height: 25rem;
                overflow: hidden;
                border-radius: $PrimaryBorderRadius;
                .ServiceLSImgBody-Img{
                    width: 100%;
                    position: relative;
                    bottom: 60rem;
                }
            }
        }
        .ServiceLS-ImgBody:hover{
            box-shadow: $SecondaryShadow;
            cursor: pointer;
            .ServiceLSImgBody-Content{
                font-weight: 700;
                margin: 0rem;
                right: 30rem;
                bottom: 12rem;
                transition: 300ms ease-out;
                span{

                    color: $SecondaryColor;
                }
            }
            .ServiceLSImgBody-UpperShadow{
                bottom: 0rem;
                height: 25rem;
                background-color: $PrimaryColor;
                opacity: 50%;
                visibility: visible;
                transition: 200ms ease-in;
            }
        }
    }
}