@import "../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.ServicePageMain{
    display: flex;
    flex-direction: column;
    gap: 5rem;

}
.ServiceLSMain{
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    height: 46.2rem;
    padding-top: 8rem;
    .ServiceLS{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        gap: 2rem;
        .ServiceLS-Head{
            display: flex;
            width: 70rem;
            justify-content: space-between;
            .ServiceLSHead-Heading{
                font-family: $HeadFont;
                font-size: 2.5rem;
                font-weight: 700;
                width: 30rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .ServiceLSHead-Body{
                width: 35rem;
                .ServiceLSHeadBody-Content{
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                    font-size: 1.25rem;

                }
                .ServiceLSHeadBody-Button{
                    background-color: $HeadFontColor;
                    border: none;
                    border-radius: $SecondaryBorderRadius;
                    color: $SecondaryFontColor;
                    width: 12rem;
                    height: 3rem;
                    font-family: $SecondaryFont;
                    font-weight: 700;
                }
            }
        }
        .ServiceLS-ImgBody{
            position: relative;     
            border-radius: $PrimaryBorderRadius;
            .ServiceLSImgBody-Content{
                position: absolute;
                font-family: $HeadFont;
                font-weight: 600;
                bottom: 0rem;
                right: 1rem;
                z-index: 1;
            }
            .ServiceLSImgBody-UpperShadow{
                position: absolute;
                width: 70rem;
                height: 0rem;
                border-radius: $PrimaryBorderRadius;
            }
            .ServiceLSImgBody-ImgContainer{
                width: 70rem;
                height: 23rem;
                overflow: hidden;
                border-radius: $PrimaryBorderRadius;
                .ServiceLSImgBody-Img{
                    width: 100%;
                    position: relative;
                    bottom: 60rem;
                }
            }
        }
        .ServiceLS-ImgBody:hover{
            box-shadow: $SecondaryShadow;
            cursor: pointer;
            .ServiceLSImgBody-Content{
                font-weight: 700;
                margin: 0rem;
                right: 23rem;
                bottom: 10rem;
                text-shadow: 1px 1px $PrimaryColor;
                transition: 300ms ease-out;
                span{

                    color: $SecondaryColor;
                }
            }
            .ServiceLSImgBody-UpperShadow{
                bottom: 0rem;
                height: 25rem;
                background-color: $PrimaryColor;
                opacity: 50%;
                visibility: visible;
                transition: 200ms ease-in;
            }
        }
    }
}


@media screen and (max-width: 900px){
    .ServiceLSMain{
        height: 36rem;
        padding-top: 8rem;
        .ServiceLS{
            gap: 2rem;
            .ServiceLS-Head{
                flex-direction: column;
                width:100%;
                text-align: center;
                .ServiceLSHead-Heading{
                    font-size: 1.6rem;
                    width: 100%;
                    margin: 0rem;
                }
                .ServiceLSHead-Body{
                    width: 100%;
                    .ServiceLSHeadBody-Content{
                        font-family: $ContentFont;
                        color: $ContentFontColor;
                        font-size: 0.8rem;
    
                    }
                    .ServiceLSHeadBody-Button{
                        width: 10rem;
                        height: 2.5rem;
                        font-size: 0.6rem;
                    }
                }
            }
            .ServiceLS-ImgBody{
                border-radius: $SecondaryBorderRadius;
                .ServiceLSImgBody-Content{
                    font-size: 1rem;
                }
                .ServiceLSImgBody-UpperShadow{
                    position: absolute;
                    width:100%;
                    height: 0rem;
                    border-radius: $SecondaryBorderRadius;
                }
                .ServiceLSImgBody-ImgContainer{
                    width: 100%;
                    height: 12rem;
                    border-radius: $SecondaryBorderRadius;
                    .ServiceLSImgBody-Img{
                        bottom: 0rem;
                    }
                }
            }
            .ServiceLS-ImgBody:hover{
                .ServiceLSImgBody-Content{
                    right: 5rem;
                    bottom: 6rem;
                }
                .ServiceLSImgBody-UpperShadow{
                   height: 15rem;
                }
            }
        }
    }
}