.ServiceSSMain .ServiceSS {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
  text-align: center;
}
.ServiceSSMain .ServiceSS .ServiceSSHead-Heading {
  font-family: Montserrat;
  font-size: 3rem;
  color: #364154;
  font-weight: 700;
  width: 30rem;
}
.ServiceSSMain .ServiceSS .ServiceSSHead-Heading span {
  color: #25C1EC;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps {
  position: relative;
  display: flex;
  width: 81rem;
  justify-content: space-between;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 {
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading .ServiceSSSteps-Number {
  font-family: Montserrat;
  font-size: 5rem;
  font-weight: 700;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading .ServiceSSSteps-Step {
  font-family: Martel Sans;
  font-size: 1.75rem;
  width: 14rem;
  font-weight: 800;
  text-align: left;
  display: flex;
  align-items: center;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Content {
  width: 100%;
  margin-left: 0rem;
  text-align: center;
  font-family: Rasa;
  color: #888888;
  font-size: 1rem;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line1, .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line2 {
  position: absolute;
  top: 3rem;
  opacity: 15%;
  stroke-width: 4rem;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line1 {
  left: 18rem;
}
.ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line2 {
  right: 21rem;
}

@media screen and (max-width: 900px) {
  .ServiceSSMain .ServiceSS {
    gap: 4rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSSHead-Heading {
    font-size: 1.8rem;
    width: 100%;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 {
    display: hidden;
    width: 15rem;
    justify-content: center;
    align-items: center;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading .ServiceSSSteps-Number {
    font-size: 3rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Heading .ServiceSSSteps-Step {
    font-size: 1.2rem;
    width: 8rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-1 .ServiceSSSteps-Content {
    width: 12rem;
    font-size: 0.65rem;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line1, .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line2 {
    width: 3rem;
    stroke-width: 6rem;
    visibility: hidden;
    left: 15rem;
    transform: rotate(90deg);
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line1 {
    top: 8.25rem;
    left: auto;
  }
  .ServiceSSMain .ServiceSS .ServiceSS-Steps .ServiceSSSteps-Line2 {
    left: 13rem;
  }
}/*# sourceMappingURL=ServiceStepSec.css.map */