@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.ServiceSSMain{
    .ServiceSS{
            display: flex;
            flex-direction: column;
            gap: 7rem;
            align-items: center;
            text-align: center;
            .ServiceSSHead-Heading{
                font-family: $HeadFont;
                font-size: 3rem;
                color: $HeadFontColor;
                font-weight: 700;
                width: 30rem;
                span{
                    color: $SecondaryColor;
                }
            }
            .ServiceSS-Steps{
                position: relative;
                display: flex;
                width: 81rem;
                justify-content: space-between;
                .ServiceSSSteps-1{
                    width: 19rem;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    
                    align-items: center;
                    .ServiceSSSteps-Heading{
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        .ServiceSSSteps-Number{
                            font-family: $HeadFont;
                            font-size: 5rem;
                            font-weight: 700;
                        }
                        .ServiceSSSteps-Step{
                            font-family: $SecondaryFont;
                            font-size: 1.75rem;
                            width: 14rem;
                            font-weight: 800;
                            
                            text-align: left;
                            display: flex;
                            align-items: center;
                        }
                    }
                    .ServiceSSSteps-Content{
                        width: 100%;
                        margin-left: 0rem;
                        text-align: center;
                        font-family: $ContentFont;
                        color: $ContentFontColor;
                        font-size: 1rem;
                    }
                }
                .ServiceSSSteps-Line1,.ServiceSSSteps-Line2{
                    position: absolute;
                    top: 3rem;
                    opacity: 15%;
                    stroke-width: 4rem;
                }
                .ServiceSSSteps-Line1{
                    left: 18rem;
                }
                .ServiceSSSteps-Line2{
                    right: 21rem;
                }
                
            }
    }
}


@media screen and (max-width: 900px){
    .ServiceSSMain{
        .ServiceSS{
                gap: 4rem;
                .ServiceSSHead-Heading{
                    font-size: 2.5rem;
                    width: 100%;
                }
                .ServiceSS-Steps{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
                    .ServiceSSSteps-1{
                        width: 15rem;
                        justify-content: center;
                        align-items: center;
                        .ServiceSSSteps-Heading{
                            display: flex;
                            justify-content: center;
                            gap: 1rem;
                            .ServiceSSSteps-Number{
                                font-size: 3rem;
                            }
                            .ServiceSSSteps-Step{
                                font-size: 1.2rem;
                                width: 8rem;
                            }
                        }
                        .ServiceSSSteps-Content{
                            width: 12rem;
                            font-size: 0.65rem;
                        }
                    }
                    .ServiceSSSteps-Line1,.ServiceSSSteps-Line2{
                        width: 3rem;
                        stroke-width: 6rem;
                        left: 15rem;
                        transform: rotate(90deg);
                    }
                    .ServiceSSSteps-Line1{
                        top: 8.25rem;
                        left: auto;
                    }
                    .ServiceSSSteps-Line2{
                        left: 13rem;
                        top: 18rem !important;
                    }
                    
                }
        }
    }
}