@import "../../GlobalComponents/GlobalStyles/GlobalStyles.scss";



.NavMainContainer{
    background-color: $PrimaryColor;
    position: fixed;
    width: 100%;
    z-index: 100000000;

.NavBarStyle{
    display: flex;
    flex-direction: row;
    .Nav-Logo{
        margin-left: -6vb;
        img{
            width: 5rem;
            height: 100%;
            
        }
    }

    .NavBarList{
        display: flex;
        width: 120%;
        justify-content: flex-end;
        margin-right: -5vb !important;
  
    .NavBarList-Items{
        // background-color: $PrimaryColor;
        color: $SecondaryFontColor;
        width: 13vb;
        height: 11vh;
        display: flex;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;

        .activeButton{
            width: 13vb;
            height: 11vh;
            font-size: 1rem !important;
            font-weight: 800 !important;
            padding-bottom: 0.5rem;
            transition: 200ms ease;
            color: $SecondaryColor !important;
            background-color: $SecondaryFontColor !important;
            border: none;
            border-radius: $BottomRadius;
            letter-spacing: 0.04rem;
        }

        .NavBarListItem-Button{
            width: 13vb;
            height: 11vh;
            background-color: transparent;
            border: none;
            text-align: center;
            font-family: $SecondaryFont;
            font-weight: 600;
            // font-size: 1rem;
            letter-spacing: 0.04rem;
            color: $SecondaryFontColor;
        }
    }
}
}
}

