@import "../../GlobalComponents/GlobalStyles/GlobalStyles.scss";


.NavMainContainer.with-offer-strip {
    position: fixed;
    top: 4%;
    // left:0.8%;
    z-index: 100;
    
}

.OfferStrip{
    display: flex;
    align-items: center;

    .OfferStripText {
        display:flex;
        align-items: center;
        color: #F3F2F2;
        // text-align: center;
        font-family: $SecondaryFont ;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        // line-height: normal;
    }
}

.NavMainContainer{
    background-color: $PrimaryColor;
    position: fixed;
    // height: 11rem;
    width: 100%;
    z-index: 100 ;
    
    

.NavBarStyle{
    display: flex;
    flex-direction: row;
    .NavBarLogoStyle{
        display: flex;
        .Nav-Logo{
            display: flex;
            margin-left: -6vb;
            justify-content: center;
            align-items: center;
            img{
                width: auto !important;
                height: 3.5rem;
                
            }
        }
        .NavhamBurger{
            display: flex;
            align-items: center;
            visibility: hidden;
            svg{
    
                width: 30px;
                height: 30px;
            }
            
    }
    }

    .NavBarList, .NavBarListMV{
        display: flex;
        width: 120%;
        justify-content: flex-end;
        margin-right: -3rem !important;
  
    .NavBarList-Items{
        // background-color: $PrimaryColor;
        color: $SecondaryFontColor;
        width: 6rem;
        height: 5rem;
        display: flex;
        font-size: 0.8rem;
        justify-content: center;
        align-items: center;

        .activeButton{
            width: 6rem;
            height: 5rem;
            font-size: 0.9rem !important;
            font-weight: 800 !important;
            padding-bottom: 0.5rem;
            transition: 200ms ease;
            color: $SecondaryColor !important;
            background-color: $SecondaryFontColor !important;
            border: none;
            border-radius: $BottomRadius;
            letter-spacing: 0.04rem;
        }

        .NavBarListItem-Button{
            width: 6rem;
            height: 5rem;
            background-color: transparent;
            border: none;
            text-align: center;
            font-family: $SecondaryFont;
            font-weight: 600;
            // font-size: 1rem;
            letter-spacing: 0.04rem;
            color: $SecondaryFontColor;
        }
        .NavBarListItem-Button:hover{
            text-decoration: underline;
        }
        
    }
    .NavBarList-ItemsLog{
        display: flex;
    }
}
}
}

@media screen and (max-width:600px){
    .NavMainContainer{
        height: 4rem;
    
    .NavBarStyle{
        flex-direction: column;
        .NavBarLogoStyle{
            height: 4rem;
            background-color: $PrimaryColor;
            // width: 110%;
            position: relative;
            z-index: 1000;
            display: flex;
            width: 100%;
            justify-content: space-between;
        .Nav-Logo{
            margin-left: 0rem;
            img{
                height: 2rem;
            }
        }
        .NavhamBurger{
            display: flex;
            align-items: center;
            visibility: visible;
            svg{
    
                width: 30px;
                height: 30px;
            }
            
        }
    }
    
        .NavBarList , .NavBarListMV {
            transition: 0.5s ease;
            position: relative;
            top: 0rem;
            padding: 1rem 0rem;
            background-color: $PrimaryColor;
            flex-direction: column;
            gap: 0.5rem;
            width: 110%;
            align-items: center;
            margin-left: -2vb !important;
      
        .NavBarList-Items{
            // width: 13vb;
            height: 2.5rem;
    
            .activeButton{
                // width: 13vb;
                height: 100%;
                padding-top: 0.6rem;
                border-radius: $SecondaryBorderRadius;
            }
    
            .NavBarListItem-Button{
                width: 13vb;
                height: 100%;
            }
            
        }
        .NavBarList-ItemsLog{
            flex-direction: column;
        }
    }
    .NavBarListMV{
        position: absolute;
            transition: 0.5s ease;
            top: -30rem !important;
    }
    }
    }
}


@media screen and (min-width: 600px ) and (max-width:1024px){
    .NavMainContainer{
        height: 4rem;
    
    .NavBarStyle{
        flex-direction: column;
        .NavBarLogoStyle{
            height: 4rem;
            background-color: $PrimaryColor;
            // width: 110%;
            position: relative;
            z-index: 1000;
            display: flex;
            width: 100%;
            justify-content: space-between;
        .Nav-Logo{
            // margin-left: 0rem;
            img{
                height: 2.5rem;
            }
        }
        .NavhamBurger{
            display: flex;
            align-items: center;
            visibility: visible;
            svg{
    
                width: 30px;
                height: 30px;
            }
            
        }
    }
    
        .NavBarList , .NavBarListMV {
            transition: 0.5s ease;
            position: relative;
            top: 0rem;
            padding: 1rem 0rem;
            background-color: $PrimaryColor;
            flex-direction: column;
            gap: 0.5rem;
            width: 120%;
            align-items: center;
            margin-left: -5vb !important;
      
        .NavBarList-Items{
            // width: 13vb;
            height: 2.5rem;
    
            .activeButton{
                width: 16vb;
                height: 100%;
                padding-top: 0.6rem;
                border-radius: $SecondaryBorderRadius;
            }
    
            .NavBarListItem-Button{
                width: 13vb;
                height: 100%;
            }
            
        }
        .NavBarList-ItemsLog{
            flex-direction: column;
        }
    }
    .NavBarListMV{
        position: absolute;
            transition: 0.5s ease;
            top: -30rem !important;
    }
    }
    }
} 

@media (min-width:  1880px) {
.NavMainContainer {        
        width: 100%;

        .NavBarStyle {
            display: flex;
            flex-direction: row;

            .NavBarLogoStyle {
                display: flex;

                .Nav-Logo { 
                    // margin-left: -15rem;
                }
                 
            }

            .NavBarList,
            .NavBarListMV {
                // margin-right: -17rem !important;             
            }
        }
    }
}