@import "../../../GlobalComponents/GlobalStyles/GlobalStyles.scss";

.AboutHSMain{
    background-color: $PrimaryColor;
    color: $SecondaryFontColor;
    margin: 0rem;
    padding: 5rem 0rem;
    .AboutHS{
        display: flex;
        flex-direction: column;
        gap: 2rem;
       .AboutHS-Head{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .AboutHSHead-Heading{
            font-size: 3rem;
            font-family: $HeadFont;
            font-weight: 700;
            margin: 0rem;
            span{
                color: $SecondaryColor;
            }
        }
        .AboutHSHead-Content{
            width: 40rem;
            font-family: $ContentFont;
            color: $ContentFontColor;
            margin: 0rem;
        }
       } 
       .AboutHSHead-Body{
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        .AboutHSHeadBody-Container1{
            width: 65rem;
            display: flex;
            // gap: 5rem;
            justify-content: space-between;
            // flex-direction: column;
            .AboutHSHeadBodyContainer1-ImgBox{
                width: 38rem;
                height: 34rem;
                overflow: hidden;
                border-radius: $PrimaryBorderRadius;
                .AboutHSHeadBodyContainer1-Img{
                    // width: ;
                    // display: flex;
                    position: relative;
                    left: -7rem;
                    height: 100%;
                }
            }
            .AboutHSHeadBodyContainer1-Body{
                width: 25rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .AboutHSHeadBodyContainer1Body-Head{
                    // font-size: 2.5rem;
                    font-family: $SecondaryFont;
                    font-weight: 800;
                    span{
                        color: $SecondaryColor;
                    }    

                }
                .AboutHSHeadBodyContainer1Body-Content{
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                }
            }
        }
        .AboutHSHeadBody-Container2{
            display: flex;
            width: 65rem;
            justify-content: space-between;
            .AboutHSHeadBodyContainer2-Body{
                width: 30rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;

                .AboutHSHeadBodyContainer2Body-Content{
                    text-align: center;
                    width: 15rem;
                    .AboutHSHeadBodyContainer2Body-Head{
                        font-family: $SecondaryFont;
                        font-weight: 800;
                        font-size: 5rem;
                        margin: 0rem;
                    }
                    .AboutHSHeadBodyContainer2Body-Content{
                        font-family: $ContentFont;
                        color: $ContentFontColor;
                    }
                }
            }
            .AboutHSHeadBodyContainer2-ImgBox{
                width: 35rem;
                height: 26rem;
                overflow: hidden;
                border-radius: $PrimaryBorderRadius;
                .AboutHSHeadBodyContainer2-Img{
                    position: relative;
                    height: 100%;
                }
            }
        }
        .AboutHSHeadBody-Container3{
            width: 65rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            align-items: center;
            .AboutHSHeadBodyContainer3-ImgBox{
                width: 65rem;
                height: 24rem;
                overflow: hidden;
                border-radius: $PrimaryBorderRadius;
                .AboutHSHeadBodyContainer3-Img{
                    width: 100%;
                    position: relative;
                    top: -12rem;
                }
            }
            .AboutHSHeadBodyContainer3-Body{
                display: flex;
                gap: 3rem;
                width: 50rem;
                justify-content: space-between;
                .AboutHSHeadBodyContainer3Body-Head{
                    width: 23rem;
                    font-size: 2rem;
                    line-height: 1.5;
                    font-family: $SecondaryFont;
                    font-weight: 800;
                    span{
                        color: $SecondaryColor;
                    }
                }
                .AboutHSHeadBodyContainer3Body-Content{
                    width: 25rem;
                    font-family: $ContentFont;
                    color: $ContentFontColor;
                }
            }
        }
       }
    }
}


@media screen and (max-width: 900px){
    .AboutHSMain{
        .AboutHS{
            gap: 2rem;
           .AboutHS-Head{
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .AboutHSHead-Heading{
                font-size: 1.5rem;
            }
            .AboutHSHead-Content{
                width: 100%;
                font-size: 0.9rem;
            }
           } 
           .AboutHSHead-Body{
            gap: 5rem;
            .AboutHSHeadBody-Container1{
                width: 100%;
                .AboutHSHeadBodyContainer1-ImgBox{
                    width: 15rem;
                    height: 15rem;
                }
                .AboutHSHeadBodyContainer1-Body{
                    width: 13rem;
                    .AboutHSHeadBodyContainer1Body-Head{
                        font-size: 1rem;
    
                    }
                    .AboutHSHeadBodyContainer1Body-Content{
                        font-size: 0.6rem;
                    }
                }
            }
            .AboutHSHeadBody-Container2{
                width: 100%;
                .AboutHSHeadBodyContainer2-Body{
                    width: 15rem;
    
                    .AboutHSHeadBodyContainer2Body-Content{
                        font-size: 0.6rem;
                        width: 8rem;
                        .AboutHSHeadBodyContainer2Body-Head{
                            font-size: 3rem;
                        }
                    }
                }
                .AboutHSHeadBodyContainer2-ImgBox{
                    width: 25rem;
                    height: 18rem;
                }
            }
            .AboutHSHeadBody-Container3{
                width: 100%;
                gap: 1.5rem;
                .AboutHSHeadBodyContainer3-ImgBox{
                    width: 100%;
                    height: 12rem;
                    .AboutHSHeadBodyContainer3-Img{
                        top: -5rem;
                    }
                }
                .AboutHSHeadBodyContainer3-Body{
                    display: flex;
                    gap: 2rem;
                    width: 90%;
                    justify-content: space-between;
                    .AboutHSHeadBodyContainer3Body-Head{
                        width: 12rem;
                        font-size: 1rem;
                    }
                    .AboutHSHeadBodyContainer3Body-Content{
                        width: 15rem;
                        font-size: 0.6rem;
                    }
                }
            }
           }
        }
    }
}