@import "./Components/GlobalComponents/GlobalStyles/GlobalStyles.scss";

.App{
    overflow:hidden ;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #fff;
    text-decoration: none;
}

.err-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family:$ContentFont;
    text-align: center;
    
}