.ServicePSMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ServicePSMain .ServicePS-CategoryStrip {
  background-color: #1e1e1e;
  height: 5rem;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.ServicePSMain .ServicePS-CategoryStrip .ServicePS-CategoryList {
  display: flex;
  justify-content: space-between;
  font-family: Martel Sans;
}
.ServicePSMain .ServicePS-CategoryStrip .ServicePS-CategoryList .ServicePS-Category {
  width: 25rem;
  text-align: center;
  margin: 0rem;
  font-weight: 700;
}
.ServicePSMain .ServicePS-CategoryHeadStrip {
  background-color: #1e1e1e;
  height: 5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServicePSMain .ServicePS-CategoryHeadStrip .ServicePS-CategoryHead {
  font-family: Montserrat;
  font-weight: 700;
  margin: 0rem;
}
.ServicePSMain .ServicePS {
  margin-top: 2rem;
}
.ServicePSMain .ServicePS .ServicePS-ProductList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products {
  display: grid;
  gap: 3rem;
  grid-template-columns: 25rem 25rem 25rem;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container {
  width: 25rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 1.25rem;
  position: relative;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProduct-ImgShadow {
  width: 25rem;
  position: absolute;
  height: 40rem;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 4.34%, #000 91.56%);
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProduct-Img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProductImg-Footer {
  width: 21rem;
  position: absolute;
  bottom: 0rem;
  left: 2rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProductImg-Footer .ServicePSProductImg-FooterContent .ServicePSProductImg-ContentHead {
  font-family: Martel Sans;
  font-size: 1.25rem;
  font-weight: 700;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProductImg-Footer .ServicePSProductImg-FooterContent .ServicePSProductImg-ContentBody {
  font-family: Rasa;
  font-size: 1rem;
  font-weight: 500;
  color: #888888;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Products .ServicePSProduct-Container .ServicePSProductImg-Footer .FeaturedService1-CartButton {
  border: none;
  background-color: transparent;
  padding: 0rem;
}
.ServicePSMain .ServicePS .ServicePS-ProductList .ServicePS-Button {
  font-family: Martel Sans;
  font-weight: 600;
  background-color: #364154;
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 0.8rem;
  color: #ffffff;
}/*# sourceMappingURL=ServiceProductSec.css.map */